# Vim & Neovim packages
**/pack/packager/
**/pack/packer/

# XMonad
xmonad/.xmonad/*.o
xmonad/.xmonad/*.errors
xmonad/.xmonad/*.hi
xmonad/.xmonad/xmonad-x86_64-linux

xmonad-dpi/.xmonad/*.o
xmonad-dpi/.xmonad/*.errors
xmonad-dpi/.xmonad/*.hi
xmonad-dpi/.xmonad/xmonad-x86_64-linux

# mpd
mpd/.config/mpd/database
mpd/.config/mpd/log
mpd/.config/mpd/pid
mpd/.config/mpd/playlists/
mpd/.config/mpd/state
mpd/.config/mpd/sticker.sql
