/* colors */

* {
al:      #00000000;
bg:      #212B3000;
se:      #101010ff;
fg:      #C4C7C5ff;
ac:      #6D8895ff;
red:     #EC7875ff;
green:   #61C766ff;
yellow:  #FDD835ff;
blue:    #42A5F5ff;
purple:  #BA68C8ff;
cyan:    #4DD0E1ff;
}
